#contenedor{
    border: 1px solid #219652;
    margin: 10px auto;
    width: 300px;
    height: 600px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.02), 0 6px 20px 0 rgba(1,1,1,0.2);
}

/*
    not = Excluye elementos
*/
#contenedor :not(.descripcion){
    background-color: #DDD;
    border-radius: 5px;
    padding: 10px;
}

/*
    
*/
#contenedor :not(:nth-child(4)){
    color: #CC9900;
    border-radius: 5px;
    padding: 10px;
}

.buttonContainer button:not([disabled]){
    background-color: #7BBDBA;
}

.linkContainer a:not([href*=".com"]){
    text-decoration: none;
    color: #CCC;
}

